body {
    width: auto;
    margin: 0 auto;
}ddd

#historyBody {
  background-color: #41A6CA;
  padding-top: 30px; 
}


header {
  position: fixed;
  height: 120px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  top: 0;
}

#logo {
  margin: 25px 205px;
}

.mainNav {
  position: fixed;  
  top: 80px;
  left: 100px;
}

.mainNav li {
  list-style: none;
  display: inline;
  margin: 30px;
  position: relative;
  left: 300px;
}

.mainNav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #41A6CA;
}

.mainNav li a:hover {
  color: #99DC54;
}

.smallNav {
  position: fixed;  
  top: 10px;
  right: 550px;
  font-size: 12px;
}

.smallNav li {
  list-style: none;
  display: inline;
  margin: 10px;
  position: relative;
  left: 300px;
}

.smallNav li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #41A6CA;
}

.smallNav li a:hover {
  color: #99DC54;
}

#historyLinks {
  position: relative;
  margin: 25px 0px;
  text-align: right;
  padding-right: 20px;
}

#historyLinks li {
  list-style: none;
  display: inline;
  margin: 30px;
}

#historyLinks li a {
  padding: 0 10px;
  text-decoration: none;
  color: #41A6CA;
}

#homeIntroImage {
  width: 100%;
  background-image: url(images/placeholder_988x426.jpg);
  background-size: cover;
  height: 500px;
}

#homeIntroImage h1, #homeIntroImage h2, #homeIntroImage h3, #homeIntroImage h4, #homeIntroImage h5, #homeIntroImage h6 {
  color: #fff;
}

#historyLinks li a:hover {
  color: #99DC54;
}

#homeDonateHeaderImage {
  height: 95px;
  width: 95px;
  margin: 3px;
  position: fixed;
  top: 10px;
  right: 55px;
}

article {
  position: relative;
  top: 100px; 
  background-color: #02B4CC;
}

hr.full{
  width: 75%;
}

div.homeGalleryBox {
  float: left;
  padding: 10px;
  width: 30%;
  height: 350px;
  background-color: lightblue;
  border-radius: 10px;
  margin: 5px;

}

h5.galleryHeader {
  text-align: center;
  padding: 0 10px;
}

.homeGalleryBox p {
  margin-bottom: 10px;  
}

img.galleryImage {
  width: 120%;
}

#homeArticleGallery {
  background-color: #02B4CC;
  height: 400px;
  margin: 0 auto; 
}

#homeSignUp {
  width: 100%;
  text-align: center;
}

.homeGalleryBox hr {
  width: 30%;
  display: inline-block;
}

#homeSearchBar {
  position: fixed;
  top: 62px;
  right: 305px;
  border: 1px solid gray;
}

.emailInput {
  border: none;
  margin-top: 5px;
  }

#homeSearchBar input {
  position: fixed;
  top: 50px;
  right: 291px;
}

#homeSearchBar button, #homeSearchBar button img {
  background-color: #fff;
  border: none;
  height: 35px;
  width: 35px;
  position: fixed;
  right: 256px;
  top: 43px;
}

input:focus, button:focus {
  outline: none;
}


.donateCoverImage {
  background-image: url(images/ocean-4.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

h2 {
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 44px;
    margin: 0;
    color: #fff
}

#donation {
    width: 50%;
    height: 300px;
}

#plea {
    width: 40% ;
    height: 300px;
}
.articleBox {
  background-color: #fff;
  width: 70%;
  margin: auto; 
  padding: 25px 0 0 0;
  border-radius: 10px;
}

.articleBox h1, .articleBox h2, .articleBox h3, .articleBox h4, .articleBox h5, .articleBox h6 {
  position: relative;
  width: 900px;
  margin: auto;
  text-align: left;
}

.articleBox h4 {
  text-transform: uppercase;
}

.articleImage {
  width: 100%;
  margin: auto;
}

.articleLine > hr {
  width: auto;
  margin: 25px 0;
}

.articleText {
  padding: 0 40px;
}

.articleList {
  padding: 0 80px;
}

div.donationBox {
    float: left;
    background-color: lightblue;
    margin: 20px;
    border-radius: 10px;
}

h3 {
    text-align: center;
}

h4 {
    clear: left;
    margin-left: 20px;
}

#way {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.giveContents {
    float: left;
}

#moreText {
    width: 500px;
}

 h5 {
    margin: 10px 0;
 }
 
 div.wayToGive {
    clear: left;
    background-color: lightblue;
    margin: 20px;
    width: 700px;
    height: 170px;
    border-radius: 10px;
 }

p {
    margin: 0;
}

#pleaText {
    padding: 10px;
}
div.form {
    float:left;
}

label {
    font-size: 24px;
    margin: 0 10px 10px 0;
}

#submit {
    font-size: 24px;
    margin: 0 10px 10px 0;
    background-color: #99DC54;
}

#other {
    width: 25%;
    font-size: 24px;
    margin: 0 10px 10px 0;
}

form {
  margin-left: 10px;
}

footer {
    clear: left;
    margin-left: 10px;
    text-align: center;
    padding: 20px;
}
